/* You can add global styles to this file, and also import other style files */
body
{

  background-image: url('https://cdn.pixabay.com/photo/2024/02/22/09/04/warehouse-8589487_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
